
body {
    text-align: center;
}

table {
    padding-top: 50px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    border-collapse:collapse;

}


.cell {
    color: aliceblue;
    min-height: 25px;
    min-width: 25px;
    width: 45px;
    height: 45px;
    border: 1px solid rgb(58, 6, 58);
}

.show {
    background-color: rgba(110, 72, 111, 0.998);
    /* background-color: black; */
}

.show.mine {
    background-color: rgb(184, 184, 184);
}

.level {
    color: rgb(255, 255, 255);
    background-color: rgb(152, 101, 151);
    margin: 10px;

    width: 100px;
    height: 50px;
}

.cell:hover {
    background-color: rgb(236, 236, 236);
    color:  rgb(58, 6, 58);
}


.imuji {
    font-size: 32px;
}

button.imuji {
    border: none;
    background-color: white;
}

.life {
    font-size: 25px;
}

.hint {
    font-size: 20px;
    background-color: white;
    border: none;
}

.btns {
    margin-top: 10px;
    font-size: 20px;
    background-color: rgb(147, 109, 148);
    color: white;
}